<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.paquitotmp.infotelefonoplugin"
      version="0.1.0">
    <name>InfoTelefonoPlugin</name>
    <description>Permite obtener una identificación única del dispositivo</description>
    <license>CC</license>
    <keywords>phonegap, id, imei, telephone, number, imsi</keywords>
 
    <js-module src="www/infotelefono.js"  name="infotelefono">
        <clobbers target="window.telefono" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="infotelefono">
                <param name="android-package"
                       value="org.curso.infotelefonoplugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
           <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
 
        <source-file src="src/android/org/curso/infotelefonoplugin/InfoTelefono.java"
                     target-dir="src/org/curso/infotelefonoplugin" />      
     </platform>          
</plugin>